<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frink Embeddings Query</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4" integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body hx-ext="response-targets">
  <main>
    <h1 style="position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;">Frink Embeddings Query</h1>

    <form
      hx-post="{{ url_for('web.post_query_view') }}"
      hx-target="#results"
      hx-target-error="#errors"
      hx-disabled-elt=".submit-req"
      hx-on:htmx-config-request="Frink.updateQueryParams()"
    >
      <div id="features">
        <div class="feature-row">
          <select name="feat_type">
            <option
              value="text"
              {% if feature_type != "node" %}selected{% endif %}
            >Text</option>
            <option
              value="node"
              {% if feature_type == "node" %}selected{% endif %}
            >Node URI</option>
          </select>

          <input
            type="text"
            name="feat_value"
            value="{{ feature_value }}"
            placeholder="Enter text or node IRI"
          >
        </div>
      </div>

      <div style="margin: 8px 0;">
        <button class="submit-req" id="submit-btn" type="submit">Submit</button>
        <span class="loading">loading</span>
      </div>

      <section id="errors" aria-live="polite" style="margin-top: 12px;"></section>
      <section id="results" aria-live="polite" style="margin-top: 12px;"></section>
    </form>

  </main>
</body>
</html>
