apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "frink-embedding-ui.fullname" . }}-models-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.size }}